{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",

    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",

    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "react-hooks", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "rules": {
    "prefer-destructuring": [
      "error",
      {
        "AssignmentExpression": {
          "array": false,
          "object": true
        }
      }
    ],
    "curly": "off",
    "camelcase": "off",
    "newline-before-return": "off",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["draft"]
      }
    ],
    "no-case-declarations": "off",
    "no-shadow": "off",
    "no-redeclare": "error",
    "no-console": ["warn", { "allow": ["error"] }],
    "import/no-unresolved": "off",
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "no-empty-pattern": "off",
    "no-use-before-define": "off",
    "consistent-return": "off",
    "no-underscore-dangle": "off",
    "no-alert": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/ban-types": "off",

    "linebreak-style": "off",
    "lines-between-class-members": "off",
    "quotes": ["error", "single"],
    "no-else-return": "off",
    "padding-line-between-statements": "off",
    "semi": ["error", "always"],

    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "import/no-deprecated": "error",
    "import/no-duplicates": "off",
    "import/no-named-as-default": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "none",
        "ignoreRestSiblings": true
      }
    ],

    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-empty-interface": "off",

    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",

    "react/jsx-uses-vars": "error",
    "react/jsx-wrap-multilines": "off",
    "react/state-in-constructor": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/display-name": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "react/destructuring-assignment": "off",
    "no-prototype-builtins": "off",
    "react/jsx-curly-newline": [
      "error",
      {
        "multiline": "consistent",
        "singleline": "consistent"
      }
    ],
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [".ts", ".tsx"]
      }
    ],
    "jsx-a11y/anchor-is-valid": ["off"],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "react/prop-types": "off"
      },
      "parserOptions": {
        "project": ["./tsconfig.json"] // Specify it only for TypeScript files
      }
    }
  ],
  "globals": {
    "React": "writable"
  }
}
